.main{
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}

.content1{
    width: 400;
    height: 500px;
    /* border: 1px solid black; */
  }
.content2{
    width: 40%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex; 
    justify-content: center;
    align-items: center;
  }

.img{
  width: 100%;
  height: 100%;
}

.logo{
  width: 120px;
  height: 120px;
}

.info2{
  height: 70px;
}

.desc1{
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0px;
}

.desc2{
  margin-top: 5px;
}

.link{
  text-decoration: underline;
  cursor: pointer;
  color: #BF92D4;
}

.info3{
  margin-top: 30px;
}
label{
  font-size: 15px;
  font-weight: 600;
  /* margin-right: 240px; */
}

.para1{
  text-align: left;
}

.para1::after{
  content: " *";
  color: red;
}

input{
  width: 300px;
  height: 30px;
  background: #9B7FC24D;
  border: 0px;
  border-radius: 7px;
  /* margin-top: 8px; */
  /* margin-bottom: 20px; */
}

.fgpswd{
  width: 300px;
  text-decoration: underline;
  cursor: pointer;
  color: #BF92D4;
  /* text-align: right; */
  /* font-size: 13px; */
}

.para2{
  text-align: right;
  margin-top: 2px;
}

.loginbtn{
  width: 300px;
  height: 45px;
  background-color: #7B57A7;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-weight: 600;
}